<div class="container text-center">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 bg-white m-top">
         <h2 class="text-success m-top-mini">Merci pour votre demande, <br>nous vous recontactons au plus vite!</h2>
        <div class="round hollow text-center">
        <a href="/" id="addClass"><span class="glyphicon glyphicon-comment"></span> Revenir sur la page d'accueil du site </a>
        </div>
        
        <hr>
        
        PLUS :
        <a  href="#">FAQ</a>,
         <a  href="#"> Lire les conditions d'utilisation  </a>
    </div>        
  </div>
</div>


<!--<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @declaration.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @declaration.prenom %>
</p>

<p>
  <strong>Date de naissance:</strong>
  <%= @declaration.date_de_naissance %>
</p>

<p>
  <strong>Heure de naissance:</strong>
  <%= @declaration.heure_de_naissance %>
</p>

<p>
  <strong>Lieu de naissance:</strong>
  <%= @declaration.lieu_de_naissance %>
</p>

<p>
  <strong>Sexe:</strong>
  <%= @declaration.sexe %>
</p>

<p>
  <strong>Nom pere:</strong>
  <%= @declaration.nom_pere %>
</p>

<p>
  <strong>Adresse pere:</strong>
  <%= @declaration.adresse_pere %>
</p>

<p>
  <strong>Date de naissance pere:</strong>
  <%= @declaration.date_de_naissance_pere %>
</p>

<p>
  <strong>Lieu de naissnce pere:</strong>
  <%= @declaration.lieu_de_naissnce_pere %>
</p>

<p>
  <strong>Profession pere:</strong>
  <%= @declaration.profession_pere %>
</p>

<p>
  <strong>Telephone pere:</strong>
  <%= @declaration.telephone_pere %>
</p>

<p>
  <strong>Nationalite pere:</strong>
  <%= @declaration.nationalite_pere %>
</p>

<p>
  <strong>Coutume pere:</strong>
  <%= @declaration.coutume_pere %>
</p>

<p>
  <strong>Piece pere:</strong>
  <%= @declaration.piece_pere %>
</p>

<p>
  <strong>Nom mere:</strong>
  <%= @declaration.nom_mere %>
</p>

<p>
  <strong>Adresse mere:</strong>
  <%= @declaration.adresse_mere %>
</p>

<p>
  <strong>Date de naissance mere:</strong>
  <%= @declaration.date_de_naissance_mere %>
</p>

<p>
  <strong>Lieu de naissnce mere:</strong>
  <%= @declaration.lieu_de_naissnce_mere %>
</p>

<p>
  <strong>Profession mere:</strong>
  <%= @declaration.profession_mere %>
</p>

<p>
  <strong>Telephone mere:</strong>
  <%= @declaration.telephone_mere %>
</p>

<p>
  <strong>Nationalite mere:</strong>
  <%= @declaration.nationalite_mere %>
</p>

<p>
  <strong>Coutume mere:</strong>
  <%= @declaration.coutume_mere %>
</p>

<p>
  <strong>Piece mere:</strong>
  <%= @declaration.piece_mere %>
</p>

<%= link_to 'Edit', edit_declaration_path(@declaration) %> |
<%= link_to 'Back', declarations_path %>
