<p id="notice"><%= notice %></p>

<h1>Lamairies</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lamairies.each do |lamairy| %>
      <tr>
        <td><%= lamairy.nom %></td>
        <td><%= lamairy.description %></td>
        <td><%= link_to 'Show', lamairy %></td>
        <td><%= link_to 'Edit', edit_lamairy_path(lamairy) %></td>
        <td><%= link_to 'Destroy', lamairy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lamairy', new_lamairy_path %>
